@page "/activity/{slug}"
@inject OrchardCore.IOrchardHelper Orchard;
@{
    //string
    var text = "Welcome to new world";

    //boolean
    bool active = true;

    //int, decimal
    var qty = 10 / 2;
    var htmlText = "<div style='color:red;'>ข้อความ</div>";

    var param = Slug;
}

<p>Hello WOrld</p>

@text

@qty

@if (active)
{
    @Html.Raw(htmlText)
}
else
{
   @htmlText 
}

PARAM >>  @param

@functions
{
    //รับค่า params จาก url
    [FromRoute]
    public string Slug { get; set; }
}



<script>alert("Demo Alert!")</script>








<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$( document ).ready(function() {
    alert("Demo Alert! Abc");
});
</script>
